*{
    margin: 0;
    padding: 0;
}
body{
    background-color: azure;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    /* max-width: 1000px; */
    /* margin: 0 auto;
    padding: 0; */
}
h1,h2,h3,h4,h5,h6{
    color: #4b1414;
}
.common_hr{
    width: 100%;
    border: 2px solid black;
    border-bottom: none;
    margin: 10px auto;
}
.header_hr{
    border: 3px solid black;
    border-bottom: none;
    width: 100%;
    margin: 10px auto;
}
.clear_div{
    clear: both;
}

/* full project container starts 
--------------------------------
--------------------------------*/
.container{
    max-width: 1000px;
    background-color: #e5ebeb ;
    margin: 0 auto;
    padding: 5px 20px;
}

/* header starts */
header{

}
.profile_img{
    width: 60px;
    height: 80px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 3px;
    float: left;
}
.profile_img:hover{
    width: 65px;
    height: 85px;
    border: 3px solid white;
    border-radius: 40%;
    padding: 5px;
    transition: 2s;
}
.header_name{
    float: left;
    margin: 18px 0px 0px 30px;
    padding: 10px;
}
.italic{
    color: #2b2b74;
    font-style: italic;
}
.desination_left:hover{
    color: #085014;
    text-shadow: 1px 1px 2px crimson;
    padding-left: 10px;
    transition: 2s;
}
.header_details{
    float: right;
    padding: 15px 15px 0px 0px;
}
.header_details h4{
    text-decoration: underline;
}
.header_details a{
    text-decoration: none;
    color: #1e1e6e;
    font-size: 0.9rem;
    font-weight: bold;
}
.header_details a:hover{
    color: brown;
    transition: 1s;
    font-size: 1rem;
    font-style: italic;
    background-color: #e4e1e1;
    text-decoration: underline;
}
/* header ends */

/* ----main area starts---- */
main{

}
.left_area{
    float: left;
    width: 30%;
}
.right_area{
    float: left;
    width: 70%;
}
.right_area ul li{
    list-style-type: square;
    line-height: 1.5rem;
}

/* carrier objectives area starts */
.carrier_area{

}
.carrier{

}
.left_area{

}
.left_area h3{
    /* text-align: center; */
    /* padding-top: 40px; */
}
.right_area{

}
.carrier_area .right_area ul{

}
.carrier_area .right_area ul li{
    /* list-style-type: square;
    line-height: 1.5rem; */
}
/* carrier objectives area ends */

/* carrier summary area starts */
.summary_area{

}
.summary{

}
.summary_area .summary .right_area ul{

}
.summary_area .summary .right_area ul li{
    
}
/* carrier summary area ends */

/* special qualification area starts */
.special_area{

}
.special_qualification{

}
.special_qualification .left_area{

}
.special_qualification .left_area h3{

}
.special_qualification .right_area{

}
.special_qualification .right_area ul{

}
.special_qualification .right_area li{

}
/* special qualification area ends */

/* job experience area starts */
.job_area{

}
.experience{

}
.experience .left_area{
    
}
.experience .left_area h3{
    
}
.experience .right_area h4{
    color: #1b111b;
    text-align: center;
    text-decoration: underline;
}
.experience .right_area h5{

}
/* .experience .right_area address img{
    width: 15px;
    height: 20px;
} */
/* address img{
    width: 15px;
    height: 20px;
} */
.org_logo{
    width: 15px;
    height: 20px;
    float: left;
}
.company_name{
    float: left;
    width: 70%;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
}
address a{
    text-decoration: none;
}
.company_address{
    float: left;
    width: 100%;
}
.job_duties{
    color: #160836;
    font-size: 0.8rem;
    margin-top: 5px;
    text-decoration: underline;
}
.half_width{
    width: 100%;
    float: left;
    margin: 0 auto;
}
.right_area1{
    width: 50%;
    float: left;
}
.right_area2{
    width: 50%;
    float: left;
}
/* job experience area ends */

/* education area starts */
.edu_hons img{
    float: left;
    padding-top: 2px;
}
.inst_name{
    text-decoration: none;
    font-size: 0.9rem;
    padding-left: 10px;
}
.nu{
    font-size: 0.6rem;
    padding-left: 25px;
}
.edu_hons{
    float: left;
    width: 50%;
}
.edu_hsc{
    float: left;
    width: 50%;
}
.edu_ssc{
width: 50%;
float: left;
}
/* education area ends */

/* major courses studied in cse area starts */
.right_area table{
    border: 1px solid black;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
table, tr, th, td{
    border: 1px solid #3f0b0b;
    border-collapse: collapse;
    padding: 5px;
}
th{
    background-color: blanchedalmond;
}
/* major courses studied in cse area ends */

/* training summary area starts */


/* training summary area ends */

/* personal area starts */
.personal_area{

}
.personal{

}
.right_area3{
    width: 70%;
    float: right;
}
.table_personal{
    width: 100%;
}
.table{
    border: none;
    outline: none;
}
.table tr{
    text-align: left;
} 
/* personal area ends */

/* reference area starts */
.Reference_area{

}
.reference{

}
.right_area .ref_1{
    float: left;
    width: 50%;
}
.ref_2{
    float: right;
    width: 50%;
}
/* reference area ends */


/* declaration area starts */
.declaration_area .declaration .right_area p{
    text-align: justify;
}
.signature_cv{
    
}
.signature{
    width: 80px;
    height: 40px;
    margin-top: 10px;
}
.signature_cv p{
    text-decoration: overline;
}
/* declaration area ends */

/* ----main area ends---- */

/* ----footer area starts---- */
footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 50px;
    padding-top: 10px;
}
footer p{
    margin-bottom: 10px;
}
footer p a{
    text-decoration: none;
    margin: 10px;
    color: #523e7e;
}
footer p a:hover{
    text-decoration: underline;
    margin: 15px;
    color: white;
    transition: 2s;
}
/* ----footer area ends---- */

/* full project container ends
--------------------------------
--------------------------------*/
